<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no" />
	<meta content="telephone=no" name="format-detection" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<title>virtual-dom-learning</title>
	<%
		for (var chunk of webpack.chunks) {
			for (var file of chunk.files) {
				if (file.match(/\.(js|css)$/)) {
	%>
		<link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
	<%
				}
			}
		}
	%>
</head>

<body>
	<div id="app"></div>
</body>

</html>